@use "~bootstrap/scss/bootstrap" as *;
@use "_partials/header.scss" as *;
@use "_partials/reset.scss" as *;
@use "_partials/variables.scss" as *;
@use "_partials/main.scss" as *;
@use "_partials/footer.scss" as *;

