@use "variables.scss" as *;

img {
    width: 100px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

// menu style

header{
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $primary-text-color;
    
    }
    
    li {
        padding: 3.125rem 0.125rem;
        margin-right: 1.8rem;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
    
        &:hover {
            color: $brand-blue;
        }
    
        //pseudo-element under the link to show at the end of the link
        &:hover::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0px;
            left: 0;
            width: 100%;
            height: 0.3rem;
            background-color: $brand-blue;
        }
    }
    
}



