@use "variables.scss" as *;

.main-container {
    position: relative;
}

.bottom-container {
    background-color: $black;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1rem;
        background-color: $brand-blue;
        color: white;
        border: none;
        padding: 10px 60px;
        margin: 15px 0;
        cursor: pointer;
    }
}

.comics-container {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    img {
        width: 190px;
        height: 190px;
    }
    h3 {
        font-size: 1rem;
        margin: 0;
        font-weight: 400;
        margin-top: 20px;
    
    }
    div {
        width: 190px;
        margin-bottom: 50px;
    }
}

.title-label {
    width: 250px;
    height: 50px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: $brand-blue;
    color: white;
    border: none;
    padding: 10px 30px;
    text-align: center;
    position: absolute;
    top: -25px;

    h3 {
        font-size: 1.45rem;
        margin: 0;
        font-weight: 700;
    }
}